.navbarPos{
	position: absolute;
	top: 70px;
	width: 100%;
}

.nav-item{
	position: relative;
	left: 200px;
	padding: 5px;
}

#rightLink{
	position: relative;
	left: 950px;
	margin: 0px;
}

.nav-item > .nav-link{
	color: white;
}

.nav-item > .nav-link:hover{
	color: grey;
}

.appTitle{
	position: absolute;
	top: 10px;
	left: 550px;
	color: rgba(0, 169, 169, 0.6);
	font-family: "Lucida Grande";
	font-size: 1.6pc;
}